body {
    background-image: url("../images/background1.jpg");
    background-size: 100%;
    margin: 0 auto;
    /* position: relative; */
}

.main-content-frame {
    background-color: yellow;
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;
    align-content: center;
    position: relative;
}

.main-content-frame1 {
    background-color: yellow;
    width: 100%;
    max-width: 1400px;
    height: 120vh;
    margin: 0 auto;
    align-content: center;
    position: relative;
}

.main-banner {
    font-family: 'Dokdo', cursive;
    font-size: 40pt;
    text-align: center;
    color: blue;
    padding-top: 50px;
}

.start-button {
    padding: 20px 40px;
    margin-left: 0 auto;
    display: flex;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 45%;
}

.submit-button {
    padding: 20px 40px 20px 40px;
    /* margin-left: 0 auto; */
    margin-bottom: 120px;
    margin-top: 50px;
    display: flex;
    position: absolute;
    /* float: left; */
    left: 45%;
    float: auto;
}

h2 {
    text-align: center;
}

.listQuestions {
    text-align: center;
}

.answer-display {
    text-align: center;
    font-size: 14pt;
}

input[type="radio"] {
    margin: 0 10px 0 10px;
}